body {
  margin: 10px;
  background-color: #b1b695;
}

.container {
  border: 2px solid white;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: tan;
}

.mid {
  background-color: #e0cba8;
  flex-direction: row;
}

.last {
  background-color: tan;
}

.box {
  width: 320px;
  height: 320px;
  background: white;
  margin: 8px;
}
